.menuWrapper {
    width: 748px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    background: #AEAEAE1A;
    border-radius: 10px;
    border: 1px solid #AEAEAE80;
    flex-wrap: wrap;
    gap: 10px;
    padding: 25px;
}

.sectionTitle {
    display: flex; 
    align-items: center; 
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;

    .tittleIcon {
        width: 18px;
        height: 18px;
        display: flex; 
        align-items: center;
        justify-content: center;
        border: 1px solid #AEAEAE80;
        border-radius: 4px;
        margin-right: 7px;
        cursor: pointer;
        margin-bottom: 5px;
       
        & img {
            width: 10px; 
            height: 12px;
            object-fit: contain; 
        }
    }

    .tittleInfo {
        width: 100%;
        font-size: 18px;
    }
}

.cardWrapper {
    width: 336px;
    height: 200px;
    flex-shrink: 0; 
    background: #AEAEAE1A;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #AEAEAE80;

   & .avatarItem {
        margin: 0;
    }
}

.usersContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 10px;

    .userItem {
        width: 153px;
        height: 16px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding: 5px 5px;
        background: #202020;
        border: 1px solid #AEAEAE80;
        border-radius: 6px;
        color: #FFFFFF;
        cursor: pointer;

        & .userName {
            font-size: 14px;
        }
    }    
}


.teamsContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    .teamItem {
        width: 80px;
        height: 60px;
        padding: 5px;
        border-radius: 6px;
        color: #FFFFFF;
        cursor: pointer;
        border: 1px solid #AEAEAE80
    }
}


.filesContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .fileItem {
        width: 165px;
        padding: 5px;
        background: #AEAEAE1A;
        color: #FFFFFF;
        border-radius: 6px;
        border: 1px solid #AEAEAE1A;
        cursor: pointer;
    }
}