
.assignment-detail {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: sans-serif;
    color: #ffffff;
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
  
    &__header-left {
      display: flex;
      flex-direction: column;
    }
  
    &__header-right {
      display: flex;
      align-items: center;
    }
  
    &__title {
      font-size: 24px;
      color: #AEAEAE;
    }
  
    &__meta {
      margin-top: 8px;
      font-size: 14px;
      color: #AEAEAE;
    }
  
    &__score {
      margin-right: 20px;
      font-size: 16px;
      color: #AEAEAE;
    }
  
    &__submit-btn {
      background-color: #AEAEAE80;
      color: whitesmoke;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color: #444;
      }
    }
  
    &__body {
      display: flex;
      gap: 30px;
    }
  
    &__info {
      flex: 3; 
    }
  
    &__submission {
      width: 500px;
      flex: 2;
      background: #aeaeae80;
      border-radius: 8px;
      padding: 20px;
    }

    &__submission-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
  
    &__submission-title {
      font-size: 18px;
      color: #AEAEAE;
    }
  
    &__submission-status {
      font-size: 14px;
      color: #AEAEAE;
    }
  
    &__section {
      margin-bottom: 20px;
      
  
      &-title {
        font-size: 18px;
        margin-bottom: 8px;
      }
  
      &-text {
        margin: 0 0 8px 0;
        line-height: 1.4;
      
      }
    }


    &__submission-files {
      color: black;
    }

  
    &__attachment-list {
      list-style: none;
      padding: 0;
      margin: 0;
      color: black;
  
      li {
        margin-bottom: 8px;
  
        a {
          color: #0078d4;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }