.main__sidebar {
  background-color: transparent;
  padding: 40px 0 0 40px;
}
.main__sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main__sidebar-icon {
  cursor: pointer;
  border: 1px solid rgba(174, 174, 174, 0.5019607843);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 8px;
  padding: 10px;
  width: 60px;
  height: 60px;
  min-width: 60px;
  transition: all 0.3s ease;
}
.main__sidebar-icon:hover, .main__sidebar-icon:active, .main__sidebar-icon--active {
  background: #4914a5;
  border-color: #4914a5;
}
.main__sidebar-icon--active {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3764705882);
}