// Общие переменные
:root {
    --font-inter: 'Inter', sans-serif;
  }
  
  // Темная тема
  [data-theme="dark"] {
    // Основные цвета
    --bg-color: #202020;
    --text-color: #f5f5f5;
    --card-bg: rgba(174, 174, 174, 0.1);
    --card-border: rgba(174, 174, 174, 0.5);
    --active-color: #7e57c2;
    
    // Дополнительные цвета
    --hover-color: rgba(126, 87, 194, 0.2);
    --shadow-color: rgba(0, 0, 0, 0.5);
    --divider-color: rgba(174, 174, 174, 0.3);
    
    // Текст
    --text-muted: rgba(245, 245, 245, 0.7);
    --text-accent: #b388ff;
  }
  
  // Светлая тема
  [data-theme="light"] {
    // Основные цвета
    --bg-color: #f5f5f5;
    --text-color: #333333;
    --card-bg: rgba(255, 255, 255, 0.9);
    --card-border: rgba(0, 0, 0, 0.1);
    --active-color: #673ab7;
    
    // Дополнительные цвета
    --hover-color: rgba(103, 58, 183, 0.1);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --divider-color: rgba(0, 0, 0, 0.1);
    
    // Текст
    --text-muted: rgba(51, 51, 51, 0.7);
    --text-accent: #7c4dff;
  }