.teamWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
  }
  
  .contentWrapper {
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    background: #AEAEAE1A;
    border-radius: 16px;
    padding: 20px;
  }
  
  .teamSidebar {
    height: 457px;
    border-radius: 8px;
    background: #AEAEAE1A;
    padding: 15px 20px;
    margin-left: 120px;
    color: #FFFFFF;

    h2 {
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
    }

    .dividerSidebar {
      width: 200px;
      height: 1px;  
      border-radius: 50px;
      background: #AEAEAE80;
    }
    
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  
  .teamContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 20px;
  }
  