// src/app/scss/global.scss
@use "mixins/mixins" as *;

@use "variables/variables" as *;

@use "./reset.scss";

:root {
  @include apply-theme('dark'); 
}

body {
  width: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}