// src/app/scss/global.scss
@use "mixins/mixins" as *;

@import "reset.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif; 
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  background-color: #202020;
}

body {
  width: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}