@use "../../../../shared/styles/variables/variables" as *;
@use "../../../../shared/styles/mixins/mixins" as *;

.instructor-assignment-flow {
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);

    &__students-view {
        h2 {
            margin-bottom: 20px;
            color: var(--text-secondary);
        }
    }

    &__no-task-message {
        margin-bottom: 20px;
    }

    &__view-assignment-button {
        margin-top: 10px;
    }
}